<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" /> <!-- reset css -->
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

<style>
    body{ background-color: ivory; }
    #canvas{border:1px solid red;}
</style>

<script>
window.onload=function(){

    // get canvas related references
    var canvas=document.getElementById("canvas");
    var ctx=canvas.getContext("2d");
    var BB=canvas.getBoundingClientRect();
    var offsetX=BB.left;
    var offsetY=BB.top;
    var WIDTH = canvas.width;
    var HEIGHT = canvas.height;
    var TOKEN_SIZE = Math.min(WIDTH, HEIGHT)/15;

    // drag related variables
    var dragok = false;
    var startX;
    var startY;

    // an array of objects that define different rectangles
    var rects=null;

    // listen for mouse events
    canvas.onmousedown = myDown;
    canvas.onmouseup = myUp;
    canvas.onmousemove = myMove;

    function pullGrid() {
        $.ajax({
            url: "/grid",
            type: "GET",
            contentType: "application/json"}).done(function(data) {
                var parsed = JSON.parse(data);
                rects = parsed["entities"]
                for (var i=0;i<rects.length;i++) {
                    rects[i].x = rects[i].col * TOKEN_SIZE;
                    rects[i].y = rects[i].row * TOKEN_SIZE;
                    rects[i].isDragging = false;
                }
                // call to draw the scene
                draw();
        });
    }

    pullGrid();

    // draw a single rect
    function rect(x,y,w,h) {
     ctx.beginPath();
     ctx.rect(x,y,w,h);
     ctx.closePath();
     ctx.fill();
    }

    // clear the canvas
    function clear() {
     ctx.clearRect(0, 0, WIDTH, HEIGHT);
    }

    // redraw the scene
    function draw() {
        clear();
        ctx.fillStyle = "#FAF7F8";
        rect(0,0,WIDTH,HEIGHT);

        // draw grid
        if (dragok) {
            ctx.fillStyle="#ffffff";
            ctx.lineWidth = 1;
            for (i = TOKEN_SIZE; i < HEIGHT; i += TOKEN_SIZE)
            {
                ctx.moveTo(0, i);
                ctx.lineTo(WIDTH, i);
                ctx.stroke();
            }
            for (i = TOKEN_SIZE; i <WIDTH; i += TOKEN_SIZE)
            {
                ctx.moveTo(i, 0);
                ctx.lineTo(i,HEIGHT);
                ctx.stroke();
            }
        }

        // redraw each rect in the rects[] array
        for(var i=0;i<rects.length;i++){
            var r=rects[i];
            ctx.fillStyle=r.fill;
            rect(r.x,r.y,r.size*TOKEN_SIZE,r.size*TOKEN_SIZE);
        }
    }


    // handle mousedown events
    function myDown(e){

        // tell the browser we're handling this mouse event
        e.preventDefault();
        e.stopPropagation();

        // get the current mouse position
        var mx=parseInt(e.clientX-offsetX);
        var my=parseInt(e.clientY-offsetY);

        // test each rect to see if mouse is inside
        dragok=false;
        for(var i=0;i<rects.length;i++){
            var r=rects[i];
            if(mx>r.x && mx<r.x+r.size*TOKEN_SIZE && my>r.y && my<r.y+r.size*TOKEN_SIZE){
                // if yes, set that rects isDragging=true
                dragok=true;
                r.isDragging=true;
            }
        }
        // save the current mouse position
        startX=mx;
        startY=my;
    }

    function snapToGrid(p) {
        var div = p / TOKEN_SIZE;
        var offset = div % 1;
        if (offset < 0.5) {
            return Math.floor(div);
        } else {
            return Math.ceil(div);
        }
    }


    // handle mouseup events
    function myUp(e){
        // tell the browser we're handling this mouse event
        e.preventDefault();
        e.stopPropagation();

        // clear all the dragging flags
        dragok = false;
        changeMade = false;
        for(var i=0;i<rects.length;i++){
            if (rects[i].isDragging) {
                var r=rects[i];
                r.col = snapToGrid(r.x);
                r.x = TOKEN_SIZE * r.col;
                r.row = snapToGrid(r.y);
                r.y = TOKEN_SIZE * r.row;
                changeMade = true;
            }
            rects[i].isDragging=false;
        }
        if (changeMade)
            draw();
    }


    // handle mouse moves
    function myMove(e){
        // if we're dragging anything...
        if (dragok){

          // tell the browser we're handling this mouse event
          e.preventDefault();
          e.stopPropagation();

          // get the current mouse position
          var mx=parseInt(e.clientX-offsetX);
          var my=parseInt(e.clientY-offsetY);

          // calculate the distance the mouse has moved
          // since the last mousemove
          var dx=mx-startX;
          var dy=my-startY;

          // move each rect that isDragging
          // by the distance the mouse has moved
          // since the last mousemove
          for(var i=0;i<rects.length;i++){
              var r=rects[i];
              if(r.isDragging){
                  r.x+=dx;
                  r.y+=dy;
              }
          }

          // redraw the scene with the new rect positions
          draw();

          // reset the starting mouse position for the next mousemove
          startX=mx;
          startY=my;

        }
    }

}; // end $(function(){});
</script>
</head>
<body>
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-danger">Damage</button>
    <button type="button" class="btn btn-success">Heal</button>
    <button type="button" class="btn btn-warning">Check Stats</button>
    <button type="button" class="btn btn-info">Start Monster Turn</button>
  </div>
  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Add Player </a>
  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-flash"></span> Add Monster </a>
  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-fire"></span> Add Obstacle </a>
  <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Remove </a>
  <canvas id="canvas" width=900 height=600></canvas>
</body>
<script src='/js/canvas.js'></script>
</html>
